@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gj1fo5');
    src:  url('../fonts/icomoon.eot?gj1fo5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gj1fo5') format('truetype'),
    url('../fonts/icomoon.woff?gj1fo5') format('woff'),
    url('../fonts/icomoon.svg?gj1fo5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-blog:before {
    content: "\e917";
}
.icon-contact-us:before {
    content: "\e918";
}
.icon-group:before {
    content: "\e919";
}
.icon-offers:before {
    content: "\e91a";
}
.icon-plus:before {
    content: "\e915";
}
.icon-green-check:before {
    content: "\e916";
    color: #4db819;
}
.icon-close:before {
    content: "\e914";
}
.icon-menu:before {
    content: "\e910";
}
.icon-eye:before {
    content: "\e911";
}
.icon-eye-close:before {
    content: "\e912";
}
.icon-monitoring:before {
    content: "\e900";
}
.icon-close-full:before {
    content: "\e901";
    color: #4c4c4c;
}
.icon-youtube:before {
    content: "\e902";
}
.icon-instagram:before {
    content: "\e904";
}
.icon-phone:before {
    content: "\e905";
}
.icon-email:before {
    content: "\e906";
}
.icon-location:before {
    content: "\e907";
}
.icon-arrow-left:before {
    content: "\e908";
}
.icon-arrow-right:before {
    content: "\e909";
    color: #1246c6;
}
.icon-logout:before {
    content: "\e90a";
    color: #f5f5f7;
}
.icon-logo:before {
    content: "\e90b";
}
.icon-arrow-up-small:before {
    content: "\e90c";
}
.icon-arrow-down-small:before {
    content: "\e90d";
}
.icon-arrow-down:before {
    content: "\e90e";
}
.icon-forum:before {
    content: "\e90f";
}
.icon-video:before {
    content: "\e913";
}
.icon-tablet:before {
    content: "\e95a";
}
.icon-users:before {
    content: "\e972";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram1:before {
    content: "\ea92";
}
.icon-youtube1:before {
    content: "\ea9d";
}